<%= render 'layouts/intro' %>

<h2>Deets:</h2>
<ul>
	<li>You can only give as many as you have.</li>
	<li>The amount you give is deducted from your token balance. Better be a good joke.</li>
	<li>You can only take as many as you have but it doesn't add to you token balance.</li>
	<li>You must have a (Tokens Given - Tokens Taken) to Tokens Balance ratio of at least 0.25 in order to take tokens.</li>
	<li>You must add a reason for the transaction in the comment section.</li>
</ul>